<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{!-- Font-awesome link --}}
    {{>links}}

</head>

<body>
    {{>navbar}}

    {{!-- main header --}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    {{!-- left side --}}
                    <div class="col-md-6 col-12 main_header_left align-item-center">
                        <h1> 404 Error page Occur </h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{!-- FOOTER --}}
    <footer>
        <p>Created and design by ©️pritamvidh</p>
    </footer>

</body>

</html>